[user]
  name = Your name 
  email = your@email.address
[core]
  # editor = atom --wait
[alias]
  fetch = fetch -p
  st = status
  co = checkout
  br = branch
  cm = commit -m
  lo = log --oneline
[commit]
  cleanup = whitespace
